/*** Layout Fixo ***/

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 85%;
	margin: 0 auto;
	background: #fff;
	min-width: 720px;/*** Largura minima ***/
}

#marca {
	width: 100%;
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo {
	width: 74%;
	float: right;
}

#navegacao {
	width: 24%;
	float: left;
	background: #d1d1d1;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px
}

#navegacao ul {
	list-style-type: none;
}

#navegacao li a {
	list-style-type: none;
}

#cont-princ{
	width: 64%;
	float: left;

}

#cont-sec {
	width: 33%;
	float: right;
	background: #d1d1d1;
}

#cont-sec h1,
#cont-sec h2,
#cont-sec h3,
#cont-sec p {	
	padding-left: 20px;
	padding-right: 20px;
}