/*** Herança e Especificidade ***/

/*** As formatações padrões são herdadas por todos elementos
* {
	border: 1px solid blue;
***/
}
body {  /*** Aplicar formatações genéricas no body, pois todos os demais elementos irão herdar ***/
	color: red;
	/*** border: 1px solid blue; Border e Background não são herdados por padrão no body 
	background: grey;***/
}

p{
	color: blue !important; /*** Important força a aplicação desta formatação***/
}

p{ /*** Sempre a ultima regra será aplicada ***/
	color: green;
}

p#pagina {
	color: pink;
}