/*** Barra de navegação com abas ***/

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #FDEBD8;
}

ul {    
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 720px;
}

ul li {
	float: left;
	background: url(../imagens/aba-direita.png) no-repeat top right;
}

li a {
	display: block;
	padding: 0 2.8em;
	line-height: 3em;
	text-decoration: none;
	background: url(../imagens/aba-esquerda.png) no-repeat top left; /* top left -- parão **/
	color: #fff;
}

ul a:hover {
	color: #894a1f;
}

ul #atual {
	background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
	background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}

.Titulomenu {
	width: 710px;
	margin: 0px;
	text-align: center;
	font-size: 10px;
	background: #FFBF00;
	color: #fff;
}

#texto {
	width: 710px;
	margin: 10px 0px;
	float: left;
	background: #FBE1C5;
}
/*
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #E0E6F8;
}





ul {    
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 720px;
	background: url(../imagens/fundo-horizontal.png) repeat-x #159cb0;
	float: left;
}

ul li {
	float: left;
}

ul a {
	display: block;
	padding: 0 2.85em;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y;
}

ul .primeiro a {
	background: none;
}

ul a:hover {
	color: #085662;
	background: #44cade url(../imagens/divisor.png) repeat-y;
}

#home #navegacao .home a,
#contato #navegacao .contato a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a {
	color: #085662;
	background: #44cade url(../imagens/divisor.png) repeat-y;	
}
*/