/*** Layout Fixo ***/

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 960px; /*Largura Fixa*/
	margin: 0 auto;
	background: #fff url(../imagens/coluna.png) repeat-y left top;
	min-width: 560px;/*** Largura minima ***/
	max-width: 980px;/*** Largura maxima ***/
}

#marca {
	width: 100%;
	height: 200px;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 200px;
}

/*#imagem {
	width: 90%;
	overflow: hidden;
}*/

#conteudo {
	width: 74%;
	float: right;
}

#navegacao {
	width: 24%;
	float: left;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px
}

#navegacao ul {
	list-style-type: none;
}

#navegacao li a {
	list-style-type: none;
}

#cont-princ{
	width: 64%;
	float: left;

}

img.img-noticia {
	width: 90%;
	max-width: 600px;
	padding-right: 2%;
}

#cont-sec {
	width: 33%;
	float: right;
	background: #d1d1d1;
}

#cont-sec h1,
#cont-sec h2,
#cont-sec h3,
#cont-sec p {	
	padding-left: 20px;
	padding-right: 20px;
}